# Data & utilities
pandas==2.2.3
python-dotenv==1.0.1
numpy==1.26.0
requests>=2.31.0
tqdm>=4.66.0

# Gemini API
google-generativeai==0.8.3
langchain==0.3.3
langchain-google-genai==2.0.4

# AWS
boto3==1.35.0 # s3
awscli>=1.32.0 # cloudWatch

# Web server
Flask>=2.3.3
gunicorn>=21.2.0
flask-cors>=4.0.0
